{{#if (eq account.MaVaiTro '01AD')}}
<div class="container">
    <h1>Tạo tài khoản</h1>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Vai trò:</label>
            <select class="form-select" name="Role">
                <option selected>Chọn vai trò</option>
                <option value="1">Giáo viên</option>
                <option value="1">Học sinh</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Tạo</button>
    </form>
</div>
{{else}}
<h1 style="color: red;">Bạn không có quyền truy cập!!!!</h1>
{{/if}}