<div class="container">
    <div class="card">
        <div class="card-header">
            Thông báo!!!!
        </div>
        <div class="card-body">
            <h5 class="card-title">Bạn đã xuất học phí thành công</h5>
            <p class="card-text">Bấm nút dưới để quay lại</p>
            <form method="post" action="/admin/update-export-cost?_method=PUT">
                <button type="submit" class="btn btn-primary">Quay lại</button>
            </form>
        </div>
    </div>
</div>