<div class="container">
    <h1>Xem Học Phí</h1>
    <table class="table table-dark" style="text-align: center;">
        <thead>
            <th>Học kỳ</th>
            <th>Hạn đóng</th>
            <th>Tổng tiền</th>
        </thead>
        <tbody>
            {{#each FeeInfor}}
            <tr>
                <td>{{this.MaHocKi}}</td>
                <td>{{this.HanDong}}</td>
                <td>{{this.TongTien}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
