
    <div class="container">
        <h1>Xem Học Phí</h1>
        <table>
            <tr class="color">
                <th>Học kỳ</th>
                <th>Hạn đóng</th>
                <th>Tổng tiền</th>
            </tr>
            <tr>
                <td>{{HocKy}}</td>
                <td>{{HanDong}}</td>
                <td>{{TongTien}}</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
    </div>

