.img-avartar {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

/*end reset*/
body{
background: url(../imgs/banner1.jpg) no-repeat;
background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
padding:0;
margin:0; 
font-family: 'Roboto Condensed', sans-serif;
 font-size: 90%;
}  


.contact-details {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.contact-details h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.contact-details label {
  display: block;
  margin-bottom: 5px;
}

.contact-details input[type="text"],
.contact-details input[type="email"],
.contact-details select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-details button {
  background-color:  rgb(47, 164, 231);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.contact-details button:hover {
  background-color: #45a049;
}

 /* login */
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  border-radius: 10%;
}
.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  color: #f9d342;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  
}

 #eye i {
  color: #f9d342;
  padding-left: 310px;
  cursor: pointer;
  
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color:  #f9d342;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: white;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label
{
  top: -5px;
  color: white;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before
{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #f9d342;
  cursor: pointer;
}

input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #f9d342;
  border-radius: 25px;
  font-size: 18px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color:  black;
  transition: .5s;
}
.form-message {
  font-size: 12px;
  color: red;
  line-height: 1.6rem;
  padding: 4px 0 0;
  text-align: left;
}

.login_oueter {
  width: 360px;
  max-width: 100%;
}
.logo_outer{
  text-align: center;
}
.logo_outer img{
  width:120px;
  margin-bottom: 40px;
}
