.img-avartar {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container1 {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.color {
  background-color: rgb(47, 164, 231);
}


.contact-details {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.contact-details h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.contact-details label {
  display: block;
  margin-bottom: 5px;
}

.contact-details input[type="text"],
.contact-details input[type="email"],
.contact-details select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-details button {
  background-color: rgb(47, 164, 231);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.contact-details button:hover {
  background-color: #45a049;
}

img {
  max-width: 100%;
}
/*end reset*/
body {
  background: url(../imgs/banner1.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 90%;
}
 /* login */
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  border-radius: 10%;
}
.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  color: #f9d342;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color:  #f9d342;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: white;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: white;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #f9d342;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #f9d342;
  border-radius: 25px;
  font-size: 18px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color:  black;
  transition: .5s;
}
.form-message {
  font-size: 1.2rem;
  color: red;
  line-height: 1.6rem;
  padding: 4px 0 0;
  text-align: left;
}

/* user info --------------------------------*/
.student-profile .card {
  border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

.ScriptTop {
  background: #fff none repeat scroll 0 0;
  float: left;
  font-size: 0.69em;
  font-weight: 600;
  line-height: 2.2;
  padding: 12px 0;
  text-transform: uppercase;
  width: 100%;
}

/* To Navigation Style 1*/
.ScriptTop ul {
  margin: 24px 0;
  padding: 0;
  text-align: left;
}
.ScriptTop li{
list-style:none;	
display:inline-block;
}
.ScriptTop li a {
  background: #6a4aed none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 18px;
  text-decoration: none;
  text-transform: capitalize;
}
.ScriptTop li a:hover{
background:#000;
color:#fff;
}


/* ******************************************************
Script Header
*********************************************************/

.ScriptHeader {
  float: left;
  width: 100%;
  padding: 2em 0;
}
.rt-heading {
  margin: 0 auto;
text-align:center;
}
.Scriptcontent{
line-height:28px;	
}
.ScriptHeader h1{
font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
  color: #6a4aed;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  line-height: normal;

}
.ScriptHeader h2 {
  color: #312c8f;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0 0;
  line-height: normal;

}
.ScriptHeader h1 span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;

}
.ScriptHeader span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}


.rt-container {
margin: 0 auto;
padding-left:12px;
padding-right:12px;
}
.rt-row:before, .rt-row:after {
display: table;
line-height: 0;
content: "";
}

.rt-row:after {
clear: both;
}
[class^="col-rt-"] {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
padding: 0 15px;
min-height: 1px;
position: relative;
}


@media (min-width: 768px) {
.rt-container {
  width: 750px;
}
[class^="col-rt-"] {
  float: left;
  width: 49.9999999999%;
}
.col-rt-6, .col-rt-12 {
  width: 100%;
}

}

@media (min-width: 1200px) {
.rt-container {
  width: 1170px;
}
.col-rt-1 {
  width:16.6%;
}
.col-rt-2 {
  width:30.33%;
}
.col-rt-3 {
  width:50%;
}
.col-rt-4 {
  width: 67.664%;
}
.col-rt-5 {
  width: 83.33%;
}


}

@media only screen and (min-width:240px) and (max-width: 768px){
 .ScriptTop h1, .ScriptTop ul {
  text-align: center;
}
.ScriptTop h1{
  margin-top:0;
  margin-bottom:15px;
}
.ScriptTop ul{
   margin-top:12px;		
}

.ScriptHeader h1,
.ScriptHeader h2, 
.scriptnav ul{
  text-align:center;	
}
.scriptnav ul{
   margin-top:12px;		
}
#float-right{
  float:none;	
}

}