<footer class="text-center bg-dark text-light mt-10">

  <div class="container p-4">
    <section class="mb-4">
      
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-facebook-f text-light"></i></a>

      
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-twitter text-light"></i></a>

      
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-google text-light"></i></a>

      
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-instagram text-light"></i></a>

      
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-linkedin-in text-light"></i></a>

      
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
          class="fab fa-github text-light"></i></a>
    </section>
    <section class="mb-4">
      <h4>
        Ứng dụng sổ liên lạc điện tử giúp nhà trường quản
        lý điểm của học sinh
      </h4>
    </section>

    <section class="">

      <div class="row">

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nguyễn Viết Hoàng Nam</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-light">Mã Sinh Viên: 2021050461</p>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Bùi Đức Thắng</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-light">Mã Sinh Viên: 2121050756</p>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Trần Văn Tuấn</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-light">Mã Sinh Viên: 2021050698</p>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nguyễn Việt Anh</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-light">Mã Sinh Viên: 1921050068</p>
            </li>
          </ul>
        </div>
        <div class="mt-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Vũ Đức Hiếu</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-light">Mã Sinh Viên: 2021050270</p>
            </li>
          </ul>
        </div>

      </div>
    </section>

  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/Karysqa12xc/Contact-Book-Student">Our source code</a>
  </div>
</footer>
<!-- Footer -->
