
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Sổ liên lạc điện tử</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/About">About</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Tên tài khoản: {{ account.TenTaiKhoan }}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li class="dropdown-item">Họ và tên:</li>
            <li class="dropdown-item">{{account.HoVaTen}}</li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-item">Vai Trò:</li>
            <li class="dropdown-item">{{account.TenVaiTro}}</li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/login/logout">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
