<div class="container mt-5"> 
        <div class="row">
            <div class="col text-center">
                <h1 class="text-dark">Thông tin về chúng tôi</h1>
                <p class="lead text-dark">Chào mừng đến với website của chúng tôi~~!! Đây là website sổ liên lạc điện tử</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <img src="imgs/AnhNam.png" style="height: 388px;" class="card-img-top" alt="Team Member 1">
                    <div class="card-body">
                        <h5 class="card-title">Nguyễn Viết Hoàng Nam</h5>
                        <p class="card-text">2021050461</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="imgs/AnhThang.png"  style="height: 388px;" class="card-img-top" alt="Team Member 2">
                    <div class="card-body">
                        <h5 class="card-title">Bùi Đức Thắng</h5>
                        <p class="card-text">2121050756</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="imgs/AnhTuan.png"  style="height: 388px;" class="card-img-top" alt="Team Member 3">
                    <div class="card-body">
                        <h5 class="card-title">Trần Văn Tuấn</h5>
                        <p class="card-text">2021050698</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card">
                    <img src="imgs/AnhVietAnh.png" style="height: 388px;" class="card-img-top" alt="Team Member 3">
                    <div class="card-body">
                        <h5 class="card-title">Nguyễn Việt Anh</h5>
                        <p class="card-text">1921050068</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
               
            </div>
            <div class="col-md-4 mt-5">
                 <div class="card">
                    <img src="imgs/AnhHieu.png" style="height: 388px;" class="card-img-top" alt="Team Member 3">
                    <div class="card-body">
                        <h5 class="card-title">Vũ Đức Hiếu</h5>
                        <p class="card-text">2021050270</p>
                    </div>
                </div>
            </div>
        </div>
    </div>