<div class="col-md-9 m-auto" >
 <div class="card">
  <div class="card-header bg-info"> QUÊN MẬT KHẨU</div>
  <div class="card-body">
    <form class="form-horizontal" method="POST" action="..." >
        <p>  <label class="control-label">Nhập số điện thoai:</label>            
             <input class="form-control" name="phone">     
        </p>       
        <p><button type="submit" class="btn btn-warning">Gửi số điện thoại</button></p>
    </form>
  </div>
</div>
</div>     