<div class="container-fluid">
	<div class="row d-flex justify-content-center align-items-center m-0" style="height: 100vh;">
		<div class="login_oueter">
			<div class="col-md-12 logo_outer">

			</div>
			<form action="" method="post" id="resetPasswordForm" autocomplete="off" class="bg-light border p-3">
				<div class="form-row">
					<h4 class="title my-3">Đổi Mật Khẩu</h4>
					<div class="col-12">
						<div class="input-group mb-3">

							<span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
							<input name="password" type="password" value="" class=" form-control" id="password"
								placeholder="password" required="true" aria-label="password"
								aria-describedby="basic-addon1" />
							<span class="input-group-text">
								<i class="fas fa-eye d-none" id="show_eye"></i>
								<i class="fas fa-eye-slash " id="hide_eye"></i>
							</span>

						</div>
						<span class="form-message"></span>
						
					</div>
					<div class="col-12">
						<div class="input-group mb-3">

							<span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
							<input name="password" type="password" value="" class=" form-control" id="confirmPassword"
								placeholder="confirm new password" required="true" aria-label="password"
								aria-describedby="basic-addon1" />
							<span class="input-group-text">
								<i class="fas fa-eye d-none" id="show_eye1"></i>
								<i class="fas fa-eye-slash " id="hide_eye1"></i>
							</span>

						</div>
						<span class="form-message"></span>
					
					</div>

                         <div class="d-grid gap-2 col-6 mx-auto">
  <button id="btreset" type="submit" class="btn btn-primary"  >Reset Password</button>
</div>

				</div>
			</form>
		</div>
	</div>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function(){
        var openeye = $('#show_eye');
		var closeeye = $('#hide_eye');
		let password = document.getElementById('password');
    
     	var openeye1 = $('#show_eye1');
		var closeeye1 = $('#hide_eye1');
		let password1 = document.getElementById('confirmPassword');

		openeye.click(function () {
			openeye.addClass("d-none");
			closeeye.removeClass('d-none');
			password.type = 'password';

		});
		closeeye.click(function () {
			closeeye.addClass("d-none");
			openeye.removeClass('d-none');
			password.type = 'text';
		});
        

        	openeye1.click(function () {
			openeye1.addClass("d-none");
			closeeye1.removeClass('d-none');
			confirmPassword.type = 'password';

		});
		closeeye1.click(function () {
			closeeye1.addClass("d-none");
			openeye1.removeClass('d-none');
			confirmPassword.type = 'text';
		});
        
        
function Validator(options) {
			var formElement = document.querySelector(options.form);
			if (formElement) {
				options.rules.forEach(function (rules) {
					var inputElement = formElement.querySelector(rules.selector);

					if (inputElement) {
						var errorElement = inputElement.closest(".col-12").querySelector(".form-message");
						console.log(errorElement);
						inputElement.onblur = function () {
							var errorMessage = rules.test(inputElement.value);
							if (errorMessage) {
								errorElement.innerHTML = errorMessage;
								$('#btreset').addClass('disabled');
							}
							else {
								errorElement.innerHTML = "";
								$('#btreset').removeClass('disabled');
							}

						}
					}

				});
			}
		}
		Validator.isRequired = function (selector) {
			return {
				selector: selector,
				test: function (value) {
					return value ? undefined : 'Vui lòng nhập trường này' || 'chính xác'
				}
			};
		};
		Validator.minLength = function (selector, min) {
			return {
				selector: selector,
				test: function (value) {
					return value.length >= min ? undefined : `Vui lòng nhập tối thiểu ${min} kí tự`;
				}
			};
		}
Validator.checkpass = function ( selectorconfirm) {
			return {
				selector: selectorconfirm,
				test: function (value) {
					return value == $('#password').val() ? undefined : `mât khẩu sai`;
				}
			};
		}


		Validator({
			form: "#resetPasswordForm",
			rules: [
				Validator.minLength('#password', 6),
               Validator.minLength('#confirmPassword', 6),
                Validator.checkpass('#confirmPassword'),
                
			]

		});
		

  

    });
</script>



                       
