{{!-- Code của Nam --}}
{{!-- <h1>Đăng nhập</h1>
<form method="post">
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">UserName:</label>
		<input type="text" class="form-control" name="username">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Password:</label>
		<input type="password" class="form-control" name="password">
	</div>
	<button type="submit" class="btn btn-primary">Đăng nhập</button>
</form> --}}
{{!-- Code của thắng --}}
<div class="header">
	<div class="header-main">
		<h1>Đăng Nhập</h1>
		<div class="header-bottom">
			<div class="header-right w3agile">
				<div class="header-left-bottom agileinfo">
					<form method="post">
						<input type="text" value="Tên Đăng Nhập" name="username" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Tên Đăng Nhập';}" />
						<input type="password" value="Mật Khẩu" name="password" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Mật Khẩu';}" />
						<div class="remember">
							<span class="checkbox1">
								<label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>Nhớ Mật
									Khẩu</label>
							</span>
							<div class="forgot">
								<h6><a href="#">Quên Mật Khẩu?</a></h6>
							</div>
							<div class="clear"> </div>
						</div>

						<input type="submit" value="Đăng Nhập">
					</form>


				</div>


			</div>
		</div>

	</div>
</div>
</div>