{{!-- Code của Nam --}}
{{!-- <h1>Đăng nhập</h1>
{{#if error}}
<span class="badge rounded-pill bg-danger fs-4">Tài khoản hoặc mật khẩu sai!!!</span>
{{/if}}
{{#if lock}}
<span class="badge rounded-pill bg-danger fs-4">Tài khoản của bạn đã bị khoá!!!</span>
{{/if}}
<form method="post">
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">UserName:</label>
		<input type="text" class="form-control" name="username">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Password:</label>
		<input type="password" class="form-control" name="password">
	</div>
	<button type="submit" class="btn btn-primary">Đăng nhập</button>
</form> --}}
{{!-- Code của thắng --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="center">
	<h1>ĐĂNG NHẬP</h1>
	{{#if error}}
	<span class="badge rounded-pill bg-danger fs-4">Tài khoản hoặc mật khẩu sai!!!</span>
	{{/if}}
	{{#if lock}}
	<span class="badge rounded-pill bg-danger fs-4">Tài khoản của bạn đã bị khoá!!!</span>
	{{/if}}
	<form action="" method="post" id="form-1">
		<div class="txt_field">
			<input type="text" required name="username" id="fullname">
			<label id="user"> <i class="fa fa-user" aria-hidden="true"></i> Tên tài khoản</label>
			<span class="form-message"></span>
		</div>
		<div class="txt_field">
			<input type="password" required name="password" id="password">
			<span class="form-message"></span>
				
		
			<label id="password"> <i class="fa fa-key" aria-hidden="true"></i> Mật khẩu</label>
				<div id="eye" class="">
					<i id="eye-open" class="fa fa-eye" aria-hidden="true"></i>
					<i id="eye-close" class="fa fa-eye fa-eye-slash d-none" aria-hidden="true"></i>
				</div> 
			
			
		</div>
		<div class="pass">
			<a href="forget.hbs" class="pass">Quên mật khẩu</a>
		</div>
		<input type="submit" value="Đăng Nhập">
	</form>
</div>

<script>


	document.addEventListener("DOMContentLoaded", function () {
		var openeye = $('#eye-open');
		var closeeye = $('#eye-close');
		let password = document.getElementById('password');
       
		openeye.click(function(){
			openeye.addClass("d-none");
			closeeye.removeClass('d-none');
			password.type = 'text';
			
		});
		closeeye.click(function(){
			closeeye.addClass("d-none");
			openeye.removeClass('d-none');
		     password.type = 'password';
		});
		
		function Validator(options) {
			var formElement = document.querySelector(options.form);
			if (formElement) {
				options.rules.forEach(function (rules) {
					var inputElement = formElement.querySelector(rules.selector);
					var errorElement = inputElement.parentElement.querySelector('.form-message');
					if (inputElement) {
						inputElement.onblur = function () {
							var errorMessage = rules.test(inputElement.value);

							if (errorMessage) {
								errorElement.innerText = errorMessage;

							}
							else {
								errorElement.innerText = '';

							}

						}
					}

				});
			}
		}
		Validator.isRequired = function (selector) {
			return {
				selector: selector,
				test: function (value) {
					return value ? undefined : 'Vui lòng nhập trường này' || 'chính xác'
				}
			};
		};
		Validator.minLength = function (selector, min) {
			return {
				selector: selector,
				test: function (value) {
					return value.length >= min ? undefined : `Vui lòng nhập tối thiểu ${min} kí tự`;
				}
			};
		}



		Validator({
			form: '#form-1',

			rules: [
				Validator.isRequired('#fullname'),
				Validator.minLength('#password', 6)

			]

		});
	});


</script>