{{!-- Code của Nam --}}
{{!-- <h1>Đăng nhập</h1>
{{#if error}}
<span class="badge rounded-pill bg-danger fs-4">Tài khoản hoặc mật khẩu sai!!!</span>
{{/if}}
{{#if lock}}
<span class="badge rounded-pill bg-danger fs-4">Tài khoản của bạn đã bị khoá!!!</span>
{{/if}}
<form method="post">
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">UserName:</label>
		<input type="text" class="form-control" name="username">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Password:</label>
		<input type="password" class="form-control" name="password">
	</div>
	<button type="submit" class="btn btn-primary">Đăng nhập</button>
</form> --}}
{{!-- Code của thắng --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="center">
	<h1>ĐĂNG NHẬP</h1>
	<form action="" method="post" id="form-1">
		<div class="txt_field">
			<input type="text" required name="username" id="fullname">
			<label id="user"> <i class="fa fa-user" aria-hidden="true"></i> Tên tài khoản</label>
			<span class="form-message"></span>
		</div>
		<div class="txt_field">
			<input type="password" required name="password" id="password">
			<span class="form-message"></span>
		
			<label id="password"> <i class="fa fa-key" aria-hidden="true"></i> Mật khẩu
			</label>
				<div id="eye">
					<i class="fa fa-eye" aria-hidden="true"></i>
				
			</div>
			
			
		</div>
		<div class="pass">
			Quên mật khẩu
		</div>
		<input type="submit" value="Đăng Nhập">
	</form>
</div>

<script>

{{!-- $(document).ready(function(){
	$('#eye').click(function(){
			$(this).toggleClass('open');
			$(this).children('i').toggleClass("<i class="fa fa-eye" aria-hidden="true"></i>");
			if($(this).hasClass('open')){
				$(this).prev().attr("type","text");
			}
	});
});  --}}
	document.addEventListener("DOMContentLoaded", function () {
		
		
		function Validator(options) {
			var formElement = document.querySelector(options.form);
			if (formElement) {
				options.rules.forEach(function (rules) {
					var inputElement = formElement.querySelector(rules.selector);
					var errorElement = inputElement.parentElement.querySelector('.form-message');
					if (inputElement) {
						inputElement.onblur = function () {
							var errorMessage = rules.test(inputElement.value);

							if(errorMessage){
								errorElement.innerText = errorMessage;
								
							}
							else{
								errorElement.innerText = '';
								
							}
						
						}
					}

				});
			}
		}
		Validator.isRequired = function (selector) {
			return {
				selector: selector,
				test: function (value) {
					return value ? undefined :  'Vui lòng nhập trường này'|| 'chính xác'
				}
			};
		};
		Validator.minLength = function (selector, min) {
    return {
        selector: selector,
        test: function (value) {
            return value.length >= min ? undefined :  `Vui lòng nhập tối thiểu ${min} kí tự`;
        }
    };
}



		Validator({
			form: '#form-1',

			rules: [
				Validator.isRequired('#fullname'),
				Validator.minLength('#password',6)

			]

		});
	});


</script>
