
    <div class="container1">
        <h1>Xem Học Phí</h1>
        <table>
            <tr class="color">
                <th>Học kỳ</th>
                <th>Hạn đóng</th>
                <th>Tổng tiền</th>
            </tr>
            <tr>
                
                <td>
                   
                    {{MaHocKi}}
                    
                </td>
                <td>
                      
                    {{HanDong}}
                   
                </td>  
                <td>
                     
                    {{TongTien}}</td>
                    
            </tr>
             
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
    </div>

