<<<<<<< HEAD

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
         
            <div class="p-3 mb-2 bg-warning text-dark text-center text-black"
             >
=======
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
        </div>
        <div class="col-rt-2">
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>Thông Tin Học Sinh:</h1>
                
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
>>>>>>> 2639de390f5bc552dac7311f3df27acfbb8d5be2
              
              <h5>Họ và tên</h5>
              <p>loại tài khoản</p>
            
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Thông Tin</h6>
                <hr class="mt-0 mb-4">
                                  <div class="col-6 mb-3">
                    <h6>Lớp:</h6>
                    <p class="text-muted">??</p>
                  </div>
                 <div class="col-6 mb-3">
                    <h6>Giới tính:</h6>
                    <p class="text-muted">??</p>
                  </div>
                                      <div class="col-6 mb-3">
                    <h6>Ngày sinh:</h6>
                    <p class="text-muted">11/11/2003</p>
                  </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Số điện thoại:</h6>
                    <p class="text-muted">09123345</p>
                  </div>
                  <div class="col-7 mb-3">
                    <h6>Địa Chỉ:</h6>
                    <p class="text-muted"> Hà Nội</p>
                  </div>

                 
                </div>
                <h6>Thông tin thêm:</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Học phí:</h6>
                    <p class="text-muted">Đã đóng</p>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
